.navbar {
    grid-area: nav;
    background-color: rgba(153, 63, 28, 0.842);
    padding: 20px;
  }
  .item a {
      color: floralwhite;
      text-decoration: none;
  }
  .item a.active {
      color: goldenrod;
  }